/* Estilos generales */
.navbar {
  background-color: #429f95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 13px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item a {
  color: #FFFFFF;
  font-size: 18px;
  padding: 15px 12px;
  margin-right: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  float: left;
}

.nav-items a:hover {
  background-color: #FFFFFF;
  color: #429f95;
}

.auth {
  display: flex;
  align-items: center;
}

.signin-button {
  padding: 7px 19px;
  margin-right: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 18px;
  color: 429f95;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}
.signin-button:hover{
  font-weight: bold;
  display: inline-block;
  transform: scale(1.1);
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .nav-items, .auth {
    display: none;
  }

  .nav-active .nav-items, .nav-active .auth {
    display: flex;
    flex-direction: column;
  }

}
