<header class="toolbar" [class.compact]="isCompact">
  <div class="toolbar-content">
    <div class="logo">
      <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">
        <img src="https://raw.githubusercontent.com/diegooo01/HidraNet/refs/heads/main/public/brand-logo/art-collab-logo.png" alt="ArtCollab Logo" width="170" height="60" />
      </a>
    </div>


    <nav class="nav-links">
      <!-- Enlaces para usuarios sin rol -->
      <ng-container *ngIf="isNoRole">
        <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">
          <span class="material-symbols-outlined">home</span>
          <span>Inicio</span>
        </a>
        <a [routerLink]="['/notifications']" (click)="closeMenu(); scrollToTop()">
          <span class="material-symbols-outlined">notifications</span>
          <span>Notificaciones</span>
        </a>
        <a (click)="openBusinessMiniVentana($event)" data-test="btn-negocios" >
          <span class="material-symbols-outlined">business</span>
          <span>Negocios</span>
        </a>
        <app-business-mini-ventana></app-business-mini-ventana>
      </ng-container>

      <!-- Enlaces para ilustradores -->
      <ng-container *ngIf="isIllustrator">
        <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">
          <span class="material-symbols-outlined">home</span>
          <span>Inicio</span>
        </a>
        <a [routerLink]="['/jobs']" (click)="closeMenu(); scrollToTop()">
          <span class="material-symbols-outlined">work</span>
          <span>Empleos</span>
        </a>
        <a [routerLink]="['/gallery']" (click)="goToPortfolio()">
          <span class="material-symbols-outlined">palette</span>
          <span>Mi Portafolio</span>
        </a>
        <a [routerLink]="['/notifications']" (click)="closeMenu(); scrollToTop()">
          <span class="material-symbols-outlined">notifications</span>
          <span>Notificaciones</span>
        </a>
      </ng-container>

      <!-- Enlaces para escritores -->
      <ng-container *ngIf="isWriter">
        <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">
          <span class="material-symbols-outlined">home</span>
          <span>Inicio</span>
        </a>
        <a [routerLink]="['/jobs/writer/my-projects']" (click)="closeMenu(); scrollToTop()">
          <span class="material-symbols-outlined">edit_document</span>
          <span>Mis Empleos</span>
        </a>
        <a [routerLink]="['/recomendations']" (click)="goToRecommendations(); scrollToTop()">
          <span class="material-symbols-outlined">stars</span>
          <span>Recomendaciones</span>
        </a>
        <a [routerLink]="['/notifications']" (click)="closeMenu(); scrollToTop()">
          <span class="material-symbols-outlined">notifications</span>
          <span>Notificaciones</span>
        </a>
      </ng-container>
    </nav>

    <div class="icons">
      <button class="icon-button circle" (click)="openOptionsIcon($event)">
        <span class="material-symbols-outlined">person</span>
      </button>
      <app-options-icon></app-options-icon>
    </div>

    <button class="burger square" (click)="toggleMenu()">
      <span class="material-symbols-outlined">
        {{ menuOpen ? 'close' : 'menu' }}
      </span>
    </button>
  </div>

  <div class="burger-menu" *ngIf="menuOpen">
    <div class="icon-row">
      <a class="burger-icon circle" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">person</span>
        <app-options-icon></app-options-icon>
      </a>

    </div>

    <!-- Enlaces para usuarios sin rol -->
    <ng-container *ngIf="isNoRole">
      <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">home</span>
        <span>Inicio</span>
      </a>
      <a [routerLink]="['/notifications']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">notifications</span>
        <span>Notificaciones</span>
      </a>
      <a [routerLink]="['/business']" (click)="closeMenu(); scrollToTop()" data-test="btn-negocios">
        <span class="material-symbols-outlined">business</span>
        <span>Negocios</span>
      </a>
    </ng-container>

    <!-- Enlaces para ilustradores -->
    <ng-container *ngIf="isIllustrator">
      <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">home</span>
        <span>Inicio</span>
      </a>
      <a [routerLink]="['/jobs']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">work</span>
        <span>Empleos</span>
      </a>
      <a [routerLink]="['/gallery']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">palette</span>
        <span>Mi Portafolio</span>
      </a>
      <a [routerLink]="['/notifications']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">notifications</span>
        <span>Notificaciones</span>
      </a>
    </ng-container>

    <!-- Enlaces para escritores -->
    <ng-container *ngIf="isWriter">
      <a [routerLink]="['/home']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">home</span>
        <span>Inicio</span>
      </a>
      <a [routerLink]="['/jobs/writer/my-projects']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">edit_document</span>
        <span>Mis Empleos</span>
      </a>
      <a [routerLink]="['/recomendations']" (click)="goToRecommendations(); scrollToTop()">
        <span class="material-symbols-outlined">stars</span>
        <span>Recomendaciones</span>
      </a>
      <a [routerLink]="['/notifications']" (click)="closeMenu(); scrollToTop()">
        <span class="material-symbols-outlined">notifications</span>
        <span>Notificaciones</span>
      </a>
    </ng-container>
  </div>

</header>
