<div class="business-mini" *ngIf="visible"
     (click)="stop($event)"
     [ngStyle]="{ left: left + 'px', top: top + 'px' }">
<section class="panel" data-test="create-writer">
  <div class="grid">
    <div>
      <h2>Mis aplicaciones</h2>
      <div class="list">

        <div class="item">
          <span class="icon">✒️</span>
          <div class="text-group">
            <div class="title" (click)="goToEscritorForm()" data-test="btn-registrar-escritor">Crear perfil como escritor</div>
          </div>
        </div>
        <div class="item">
          <span class="icon">📊</span>
          <div class="text-group">
            <div class="title" (click)="goToProfileAnalysis()">Análisis de perfil</div>
          </div>
        </div>

        <div class="item">
          <span class="icon">💳</span>
          <div class="text-group">
            <div class="title" (click)="goToPlans()">Planes</div>
          </div>
        </div>
        <div class="item">
          <span class="icon">📣</span>
          <div class="text-group">
            <div class="title" (click)="goToAdvertising()">Publicidad</div>
          </div>
        </div>

      </div>
    </div>

    <!-- Columna derecha -->
    <div>
      <h2>Explora más</h2>
      <div class="list">

        <div class="item">
          <span class="icon">👤</span>
          <div class="text-group">
            <div class="title">Contratar personal en ArtCollab</div>
            <div class="subtitle">Encuentra y contrata a candidatos</div>
          </div>
        </div>

        <div class="item">
          <span class="icon">🛒</span>
          <div class="text-group">
            <div class="title">Vender con ArtCollab</div>
            <div class="subtitle">Encuentra oportunidades para vender</div>
          </div>
        </div>

        <div class="item">
          <span class="icon">🧳</span>
          <div class="text-group">
            <div class="title">Anuncia un empleo</div>
            <div class="subtitle">Encuentra a los candidatos perfectos</div>
          </div>
        </div>

        <div class="item">
          <span class="icon">📢</span>
          <div class="text-group">
            <div class="title">Anúnciate en ArtCollab</div>
            <div class="subtitle">Consigue más clientes</div>
          </div>
        </div>

        <div class="item">
          <span class="icon">⭐</span>
          <div class="text-group">
            <div class="title">Convierte a Premium</div>
            <div class="subtitle">Obtén más beneficios</div>
          </div>
        </div>

        <div class="item">
          <span class="icon">🎓</span>
          <div class="text-group">
            <div class="title">Fórmate con ArtCollab</div>
            <div class="subtitle">Encuentra cursos para aprender</div>
          </div>
        </div>

        <div class="item">
          <span class="icon">⚙️</span>
          <div class="text-group">
            <div class="title">Centro para administrar</div>
            <div class="subtitle">Gestiona tus datos</div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
</div>
